
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/Docker
/makefile

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
/.phpunit.cache
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

.idea/

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
